body {
  font-family: 'Titillium Web', sans-serif;
  font-size:1.2em;
  line-height: 1.3em;
}
.dzial {
  margin:0 auto;
  max-width:400px;
}
.dydaktyka {
  background:#51ff0d;
  display:block;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.intro { 
  margin-bottom: 50px;
  margin-top: 150px;
}
.kolo {
  font-size:5em;
}
.strzala {
  font-size: 3em;
  letter-spacing: -0.2em;
  margin-left: -1.5em;
  position: relative;
}
p {
  margin:0 0 10px;
}